@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

:root {
  --min-color: #f65803;
  --overlay: rgba(25, 33, 49, 0.852);
  --secondary-color: #2c313f;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 2000px;
}

.container {
  width: 1200px;
  margin: auto;
}


                              /*  ---Start Nav Bar---  */
.nav-menu {
  height: 60px;
  background: transparent;
  line-height: 60px;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(25, 33, 49, 0.852), rgba(1, 2, 3, 0.852)), url("/images/macbook-925614.png");
  background-size: cover;
}

.nav-menu .img {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(var(--overlay), var(--overlay)), url("/images/macbook-925614.png");
  background-size: cover;
}

.nav-menu h1 {
  margin: 0px;
  float: left;
  color: white;
  font-weight: 500;
  font-size: 28px;
}

.nav-menu h1 span {
  color: var(--min-color);
}

.nav-menu h4 {
  margin: 0px;
  float: right;
  color: white;
  font-weight: 500;
}
.nav-menu h4 i {   padding-left: 16px; font-size: 18px;   }

                              /*  ---End Nav Bar---  */

                              /*  ---Start Header---  */
.header {
  width: 100%;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h2 {
  color: white;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 0;
}

.header h2 span {
  color: var(--min-color);
}

.header p {
  font-size: 22px;
  color: white;
  font-weight: 500;
  margin-bottom: 55px;
  transform: translateX(50px);
}

.header button {
  transform: translateX(150px);
  outline: none;
  cursor: pointer;
}

.header .btn-1 {
  font-size: 20px;
  padding: 11px 60px;
  background-color: var(--min-color);
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  transition: all 0.7s ease-in-out;
}
.header .btn-1:hover {
  background: transparent;
  border: 1px solid #9f9f9f;
}

.header button:last-child {
  font-size: 20px;
  padding: 11px 50px;
  background-color: transparent;
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  transform: translateX(183px);
  transition: all 0.7s ease-in-out;
}
.header button:last-child:hover {
  background: var(--min-color);
  border: 1px solid var(--min-color);
}
.header .arrow {
  position: absolute;
  top: 95%;
  left: 52%;
  transform: translate(-50%,-50%);
}
.header i {
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 36px;
  transition: all .7s;
}
.header i:hover {
  background: rgba(153, 153, 153, 0.472);
}
                              /*  ---End Header---  */

                              /*  ---Start Features---  */
.features {
  padding: 60px 0;
  height: 371px;
}
.features .box {
  width: 22%;
  float: left;
  margin-right: 4%;
  text-align: center;
}
.features .box:last-child {
  margin-right: 0;
}
.features .box i {
  width: 100px;
  height: 100px;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  line-height: 100px;
  padding: 12px;
  color: var(--min-color);
  transition: all .9s;
}
.features .box i:hover {
  color: white;
  background-color: var(--min-color);
  border: 1px solid var(--min-color);
}
.features .box h4 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2c313f;
}
.features .box p {
  font-size: 17px;
  font-family: sans-serif;
  color: #777;
  line-height: 26px;
}
                              /* ---End Features---  */

                              /*  ---Start Subscribe---  */
.subscribe {
  background-image: linear-gradient(var(--overlay), var(--overlay)), url('../images/macbook-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  position: relative;
}
.subscribe .items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.subscribe .items input {
  width: 503px;
  height: 44px;
  border-radius: 9px;
  border: none;
  outline: none;
  padding: 2px 7px;
  font-weight: 500;
  font-family: sans-serif;
  margin-right: 5px;
  transition: all .7s ease-in-out;
}
.subscribe .items input:hover {
  font-size: large;
}

.subscribe .items button {
  padding: 13px 27px;
  border: 1px solid var(--min-color);
  border-radius: 9px;
  background-color: var(--min-color);
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  transition: all .7s;
  font-size: 19px;
  text-transform: uppercase;
}
.subscribe .items button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid var(--min-color);
}
                              /*  ---End Subscribe---  */

                              /*  ---Start Our works---  */
.ourWorks {
  padding: 80px 0;
  text-align: center;
}
.ourWorks h1 {
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  color: #465574;
}
.ourWorks h1 span {
  color: var(--min-color);
}
.ourWorks p {
  font-size: 18px;
  color: #979797;
  font-family: sans-serif;
  margin-bottom: 72px;
}
.ourWorks img {
  margin-right: 20px;
  margin-bottom: 16px;
  transition: all .7s;
}
.ourWorks img:hover {
  transform: scale(.9);
}
.ourWorks #last-img {
  margin-right: 0;
}
.ourWorks button {
  font-size: 20px;
  background: transparent;
  border: 1px solid #979797;
  padding: 10px 33px;
  border-radius: 9px;
  color: #595959;
  font-weight: 600;
  margin-top: 72px;
  text-transform: uppercase;
  outline: none;
  transition: all .7s;
  cursor: pointer;
}
.ourWorks button:hover {
  background: #999;
}
                              /*  ---End Our works---  */

                              /*  ---Start Our Team---  */

.img-our-team {
  height: 280px;
  background-image: linear-gradient(var(--overlay), var(--overlay)), url(https://via.placeholder.com/280);
  position: relative;
}
.img-our-team .img-container {
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-our-team .img-container .img-circle img {
  border-radius: 50%;
}
.img-our-team p {
  width: 800px;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
}
.img-our-team h5 {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: monospace;
}
                              /*  ---End Our Team---  */

                              /*  ---Start Our Team_2 ---  */
.our-team-2 {
  position: relative;
}
.our-team-card {
  float: left;
  transition: .7s;
}
.our-team-card:hover {
  transform: scale(1.07)
}
.our-tram-2 h3 {
  text-align: center;
  margin-top: 36px;
  font-size: 24px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary-color);
}
.our-tram-2 h3 span {
  color: var(--min-color);
}
.our-tram-2 p {
  margin-bottom: 31px;
  text-align: center;
  color: var(--secondary-color);
  font-family: sans-serif;
}
.our-team-card img {
  border-radius: 10px;
  position: relative;
  transition: .3s;
}
.our-team-card img:hover {
  border-bottom: 4px solid var(--min-color);
}
.our-team-card h4 {
  text-align: center;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: revert;
  font-weight: 600;
  width: 203px;
}
.icon-container {
  text-align: center;
  width: 201px;
}
.our-team-card i:first-child {
  margin-right: 9px;
}
.our-team-card i:last-child {
  margin-left: 9px;
}
.our-team-card p {
  width: 230px;
}

                              /*  ---End Our Team_2 ---  */